<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>

    <style>
        .new-post-form input,
        .new-post-form textarea {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Posts</h1>
    <ol>
        {{#posts}}
            <li>
                <h3>{{title}}</h3>
                <em>{{author}}</em>
                <p>{{body}}</p>
            </li>
        {{/posts}}
    </ol>
<form class="new-post-form" action="/posts" method="POST">
    <h2>New Post</h2>
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Your name">
    <textarea name="body" placeholder="Type your message here">
    </textarea>
    <input type="Submit" value="post">
</form>
</body>
</html>